<p>
  <b>商品名：<%= @item.name %></b>
</p>

<p>
  <b>商品詳細：<%= @item.description %></b>
</p>

<p>
  <b>価格：<%= @item.price %></b>
</p>

<p>
  <b>売り手ID：<%= @item.seller_id %></b>
</p>

<p>
  <b>電子メール：<%= @item.email %></b>
</p>

<!-------------- 下記を追加 -------------->
<p>
  <img src="<%= @item.image_url %>">
</p>
